.search {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}
#btn {
  position: absolute;
  top: 40px;
  right: -15%;
}

.no-result-message {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  margin-top: 20px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
